<div class="row wrapper border-bottom white-bg page-heading p-none-b">
    <div class="col-lg-12 p-none">
        <div class="col-md-11 col-sm-10">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>PROFILE</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 ibox float-e-margins">
                <div class="ibox-content profile-sidebar p-none">
                    <div class="text-center profile-usertitle">
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="http://placehold.it/350?text=USER+PHOTO">
                        </div>
                        <h2>{{main.userName}}</h2>
                        <p class="font-bold">Administrator</p>
                        <p class="text-left m-none"><span>Profile Complete</span><small class="pull-right">60%</small></p>
                        <div class="progress progress-small">
                            <div style="width: 60%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a ui-sref="profile.view">
                                <i class="fa fa-user"></i>
                                About </a>
                            </li>
                            <li>
                                <a ui-sref="profile.edit">
                                <i class="fa fa-wrench"></i>
                                Account Settings </a>
                            </li>
                            <li class="active">
                                <a ui-sref="profile.help">
                                <i class="fa fa-question"></i>
                                Help </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>HELP
                        <small>lorem ipsum dolor</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>