<div class="row wrapper border-bottom white-bg page-heading p-none-b">
    <div class="col-lg-12 p-none">
        <div class="col-md-11 col-sm-10">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>PROFILE</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 ibox float-e-margins">
                <div class="ibox-content profile-sidebar p-none">
                    <div class="text-center profile-usertitle">
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="http://placehold.it/350?text=USER+PHOTO">
                        </div>
                        <h2>{{main.userName}}</h2>
                        <p class="font-bold">Administrator</p>
                        <p class="text-left m-none"><span>Profile Complete</span><small class="pull-right">60%</small></p>
                        <div class="progress progress-small">
                            <div style="width: 60%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="profile-usermenu">
                      <ul class="nav">
                          <li class="active">
                              <a ui-sref="profile.view">
                              <i class="fa fa-user"></i>
                              Profile </a>
                          </li>
                          <li>
                              <a ui-sref="profile.edit">
                              <i class="fa fa-wrench"></i>
                              Account Settings </a>
                          </li>
                          <li>
                              <a ui-sref="profile.help">
                              <i class="fa fa-question"></i>
                              Help </a>
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5><i class="fa fa-user"></i> PROFILE</h5>
                  <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p> 
                    <p>Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</p>
                    <h4 class="form-section-v2">Basic Information</h4>
                    <div class="table-responsive table-info">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Web</th>
                            <td><a href="#">www.johndoe.com</a></td>
                          </tr>
                          <tr>
                            <th>Email</th>
                            <td><a href="#">doe@lime.com</a></td>
                          </tr>
                          <tr>
                            <th>Phone</th>
                            <td>+61 3 8376 6284</td>
                          </tr>
                          <tr>
                            <th>Position</th>
                            <td>Designer</td>
                          </tr>
                          <tr>
                            <th>Status</th>
                            <td>Member</td>
                          </tr>
                          <tr>
                            <th>Social</th>
                            <td>
                                <ul class="list-inline m-n">
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <h4 class="form-section-v2">Personal Information</h4>
                    <div class="table-responsive">
                      <table class="table about-table">
                        <tbody>
                          <tr>
                            <th>Full Name</th>
                            <td>Jonathan Davison Smith</td>
                          </tr>
                          <tr>
                            <th>Birth Date</th>
                            <td>1 January</td>
                          </tr>
                          <tr>
                            <th>Birth Year</th>
                            <td>1980</td>
                          </tr>
                          <tr>
                            <th>Gender</th>
                            <td>Male</td>
                          </tr>
                          <tr>
                            <th>Languages</th>
                            <td>English</td>
                          </tr>
                          <tr>
                            <th>City</th>
                            <td>Canbera</td>
                          </tr>
                          <tr>
                            <th>Country</th>
                            <td>Australia</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>