<div class="row wrapper border-bottom white-bg page-heading p-none-b">
    <div class="col-lg-12 p-none">
        <div class="col-md-11 col-sm-10">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                  <a ui-sref="listmanagement.list">list management</a>
                </li>
                <li class="active">
                    <strong>REMOVE</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
          <h5><i class="fa fa-cogs"></i> REMOVE</h5>
          <div ibox-tools></div>
      </div>
      <div class="ibox-content">
        <form role="form" name="" action="">
          <div class="form-title-section">
            <h3>SELECTED <span>LIST</span></h3>
          </div>
          <div class="row">
              <div class="col-md-12 col-lg-12">
                  <div class="form-group">
                      <select multiple chosen class="chosen-select form-control" name="" tabindex="1">
                        <option selected value="">example_list_1</option>
                        <option selected value="">example_list_2</option>
                        <option selected value="">example_list_3</option>
                        <option selected value="">example_list_4</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="form-title-section">
            <h3>filter <span>options</span></h3>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Remove addresses from these domains</label> 
                  <select multiple chosen class="chosen-select form-control" name="" tabindex="2">
                    <option selected value="">@media.com</option>
                    <option selected value="">@wtf.com</option>
                    <option value="">@aol.com</option>
                    <option selected value="">@doom.com</option>
                    <option selected value="">@dom.com.ve</option>
                    <option value="">@dom.ve</option>
                    <option value="">@aol.com</option>
                  </select>
                </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group row-flex">
              <div class="col-flex-md-3 col-flex-lg-2 col-flex-xs">
                <button class="btn btn-primary btn-block" type="submit" tabindex="3">APPLY</button>
              </div>
              <div class="col-flex-md-3 col-flex-lg-2 col-flex-xs">
                <a class="btn btn-white btn-block" ui-sref="listmanagement.list" tabindex="4">CANCEL </a>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>