<div class="middle-box loginscreen animated fadeInDown">
    
    <div class="m-b-md ">
        <img class="center-block img-responsive" src="img/logo_big.png" alt="">
    </div>
    <div class="ibox-content">
        <form class="m-t" role="form" action="index.html">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" class="form-control" placeholder="Name" required="" name="">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                    <input type="email" class="form-control" placeholder="Email" required="" name="">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" class="form-control" placeholder="Password" required="" name="">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" class="form-control" placeholder="Re-type Your Password" required="" name="">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            </div>
            <button type="submit" class="btn btn-primary btn-block  m-b-md">SING UP</button>

            <a ui-sref="login" class="btn btn-white btn-block btn-signup">Already have an account? <b>Sign in!</b></a>
            
            <div class="or">Or SING UP with</div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button type="submit" class="btn btn-primary col-xs-12 btn-facebook">
                        <i class="fa fa-facebook"></i> facebook
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button type="submit" class="btn btn-primary col-xs-12 btn-twitter">
                        <i class="fa fa-twitter"></i> Twitter
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="text-center">
            Copyright © 2015-2016
        </div>
    </div>

</div>