<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-big">
                    <img src="img/logo_big.png" alt="" class="img-responsive">
                </div>
                <div class="logo-element">
                    MLM
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ng-class="{active: $state.includes('profile')}">
                <a ui-sref="profile.view_profile"><i class="fa fa-user"></i> <span class="nav-label">Profile</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('profile')}">
                    <li ui-sref-active="active"><a ui-sref="profile.view">View profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="profile.edit">Account Setting</a></li>
                    <li><a ui-sref="login">Log out</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('clean')}">
                <a ui-sref="clean.add"><i class="fa fa-envelope"></i> <span class="nav-label"> Extract and clean</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="listmanagement.list"><i class="fa fa-cogs"></i> <span class="nav-label">Lists management</span></a>
            </li>
            <li>
                <a href=""><i class="fa fa-cogs"></i><span class="nav-label">Action view<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('listmanagement')}">
                    <li ui-sref-active="active"><a ui-sref="listmanagement.merge">Merge</a></li>
                    <li ui-sref-active="active"><a ui-sref="listmanagement.keep">Keep</a></li>
                    <li ui-sref-active="active"><a ui-sref="listmanagement.remove">Remove</a></li>
                    <li ui-sref-active="active"><a ui-sref="listmanagement.separate">Separate</a></li>
                    <li ui-sref-active="active"><a ui-sref="listmanagement.makesample">Make sample</a></li>
                    <li ui-sref-active="active"><a ui-sref="listmanagement.split">Split list</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>