<div class="row wrapper cont-title">
    <div class="col-lg-12">
        <h2>Edit customer</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Dashboard</a>
            </li>
            <li>
                <a>customer</a>
            </li>
            <li class="active">
                <strong>Edit customer</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <form role="form" name="signup_form" novalidate ng-submit="addcustomer_submit()" ng-controller="AddCustomerCtrl">
              <section class="col-lg-12 cont-wizard">
                  <wizard on-finish="finishedWizard()" edit-mode=""> 
                      <wz-step title="Customer info" iconname="group">
                        <div class="row animated" ng-show="signup_form.$invalid && signup_form.submitted" ng-class="{'fadeInDown': signup_form.$invalid}">
                            <div class="alert alert-warning">
                                Some helpful advice here...
                            </div>
                        </div>
                        <div class="row-flex middle-flex-md">
                            <div class="col-flex-md-2 col-flex-xs-12 first-flex-md last-flex-xs">
                              <p class="text-center text-uppercase"><b>Photo</b></p>
                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                  <div class="fileinput-new thumbnail">
                                      <img class="img-responsive" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                                  </div>
                                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                  <div class="row-flex center-flex-xs" tabindex="6">
                                    <span class="col-xs btn btn-primary btn-xs text-uppercase btn-file">
                                      <span class="fileinput-new btn-block">Select image</span>
                                      <span class="fileinput-exists">Change </span>
                                      <input type="file" name="...">
                                    </span>
                                    <a href="#" class="col-xs btn btn-danger text-uppercase btn-xs fileinput-exists" data-dismiss="fileinput">
                                    Remove </a>
                                  </div>
                              </div>
                            </div>
                            <div class="col-flex-md-10 col-flex-xs-12">
                                <div class="row">
                                  <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Name</label> 
                                            <input type="text" placeholder="Enter customer name" class="form-control" name="firstName" ng-model="user.firstName" ng-minlength="3" ng-maxlength="20" required tabindex="1">
                                            <div class="m-t-xs" ng-show="signup_form.firstName.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.firstName.$error.required">Please input a firstName</small>
                                                <small class="text-danger" ng-show="signup_form.firstName.$error.minlength">Your firstName is required to be at least 3 characters</small>
                                                <small class="text-danger" ng-show="signup_form.firstName.$error.maxlength">Your firstName cannot be longer than 20 characters</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                                <input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="" name="phone" ng-model="user.phone" required tabindex="2">
                                            </div> 
                                            <span class="help-block d-inline">(999) 999-9999</span>
                                            <span ng-show="signup_form.phone.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.phone.$error.required">Please input a phone</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Company</label> 
                                            <input type="text" placeholder="Enter company name" class="form-control" name="company" ng-model="user.company" required tabindex="3">
                                            <div class="m-t-xs" ng-show="signup_form.company.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.company.$error.required">Please input a company</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <div class="input-group">
                                              <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                              <input type="email" placeholder="Enter email" class="form-control" name="email" ng-model="user.email" required tabindex="4">
                                            </div> 
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Address</label> 
                                            <textarea id="" cols="" rows="" class="form-control" name="address" ng-minlength="3" ng-model="user.address" required tabindex="5"></textarea>
                                            <div class="m-t-xs" ng-show="signup_form.address.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.address.$error.required">Please input an address</small>
                                                <small class="text-danger" ng-show="signup_form.address.$error.minlength">Your address is required to be at least 3 characters</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row-flex">
                            <div class="col-flex-md-3 col-flex-lg-2 col-flex-xs">
                              <button class="btn btn-primary btn-block" type="submit" ng-click="submit_alert()" tabindex="8">Save</button>
                            </div>
                            <div class="col-flex-md-3 col-flex-lg-2 col-flex-xs">
                              <button class="btn btn-white btn-block" ng-click="ValidateAddCustomer1()" type="submit" tabindex="7">Next <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                      </wz-step>
                      <wz-step title="BUYER INFO" iconname="bullhorn">
                        <h3 class="form-section">BUYER CRITERIAN</h3>
                        <div ng-init="AddRows()">
                          <div class="table-toolbar">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="btn-group">
                                          <button ng-click="AddRows()" class="btn btn-success btn-cons btn-xs" tabindex="9"><i class="fa fa-plus"></i> ADD BUYER</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <accordion one-at-a-time="false" ng-repeat="row in CounterRows">
                            <accordion-group id="{{row.name}}" is-open="true">
                              <accordion-heading>
                                Buyer {{row.name}} 
                                <span ng-click="deleteRows($index)" class="pull-right btn btn-circle btn-xs list-inline m-xs btn-icon-only btn-sh-none btn-white">
                                  <i class="fa fa-times"></i>
                                </span>
                                <span class="pull-right btn btn-circle btn-xs list-inline m-xs btn-icon-only btn-sh-none btn-white" >
                                  <i class="fa fa-minus"></i>
                                </span>
                              </accordion-heading>
                              <div class="row">
                                  <div class="col-md-6 col-lg-6">
                                      <div class="form-group">
                                          <label>Buyer name</label> 
                                          <input type="text" placeholder="Enter buyer name" class="form-control" name="" tabindex="">
                                      </div>
                                  </div>
                                  <div class="col-md-6 col-lg-6">
                                      <div class="form-group">
                                          <label>Lead type</label> 
                                          <select name="" id="" class="form-control" tabindex="">
                                              <option value="1">Select Lead type</option>
                                              <option value="1">Lead type - 1</option>
                                              <option value="2">Lead type - 2</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6 col-lg-6">
                                      <div class="form-group">
                                          <label>Select area</label> 
                                          <select multiple chosen id="states" data-placeholder="Choose area(s)" class="chosen-select form-control" ng-model="state" ng-options="s for s in main.states" tabindex="">
                                          </select>   
                                      </div>
                                  </div>
                              </div>
                              <div class="table-toolbar">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="btn-group">
                                              <button ng-click="addRow()" class="btn btn-success btn-cons btn-xs" tabindex=""><i class="fa fa-plus"></i> ADD CRITERIAN</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="table-responsive">
                                  <table class="table table-striped table-bordered table-hover dataTables-example center-datatable">
                                      <thead>
                                          <tr>
                                              <th style="width: 80px;">Required</th>
                                              <th>Variable name</th>
                                              <th>Value</th>
                                              <th>Description</th>
                                              <th style="width: 50px">Option</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>
                                                  <div class="switch">
                                                      <div class="onoffswitch" tabindex="">
                                                          <input type="checkbox" checked class="onoffswitch-checkbox" id="example_{{row.name}}">
                                                          <label class="onoffswitch-label" for="example_{{row.name}}">
                                                              <span class="onoffswitch-inner"></span>
                                                              <span class="onoffswitch-switch"></span>
                                                          </label>
                                                      </div>
                                                  </div>
                                              </td>
                                              <td>
                                                  <input type="text" placeholder="" class="form-control">
                                              </td>
                                              <td>
                                                  <select class="form-control" name="" tabindex="">
                                                      <option>STRING</option>
                                                      <option>NUMERIC</option>
                                                      <option>DATE</option>
                                                      <option>MONETARY</option>
                                                  </select>
                                              </td>
                                              <td>
                                                  <textarea name="" id="" placeholder="" class="form-control" tabindex=""></textarea>
                                              </td>
                                              <td>
                                                  <a class="btn btn-danger btn-sm btn-bitbucket btn-sh-none" tabindex="">
                                                      <i class="fa fa-times "></i>
                                                  </a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                            </accordion-group>
                          </accordion>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row-flex">
                            <div class="col-flex-md-3 col-flex-lg-2 col-flex-xs">
                              <button class="btn btn-primary btn-block" type="submit" tabindex="">Save</button>
                            </div>
                            <div class="col-flex-md-3 col-flex-lg-2 col-flex-xs">
                              <button class="btn btn-white btn-block" wz-previous type="submit" tabindex=""><i class="fa fa-chevron-left"></i> Previous</button>
                            </div>
                        </div>
                      </wz-step>
                  </wizard>
              </section>  
            </form>
          </div>
        </div>
    </div>
</div>